:root {
    --slate-blue-dark: #45818E; 
    --slate-blue-light: #A2C4C9;
    --light-grey: #F3F3F3;
}

* {
    font-family: 'Figtree', sans-serif;
}

/*ELEMENT SELECTORS*/

header {
    background-color: var(--teal-blue-dark);
    display: flex;
    justify-content: space-between;
} 

a {
    text-decoration: none;
    color: #ffffff;
}

h2 {
    text-align: right;
}

nav {
    flex-direction: row-reverse;
    display: inline;
}

/*CLASS SELECTORS*/

.linear-gradient-background {
    background-image: linear-gradient(
      var(--slate-blue-dark) 0%,
      var(--slate-blue-light) 100%
    );
}

.button {
    background-color: var(--slate-blue-dark);
    display: inline-flex;
    padding: 3%;
    align-items: flex-end;
    margin-left: auto;
    border:1px solid #324d53;
}

.button:hover {
    color: #ffffff;
    box-shadow: 0px 0px 2px 2px rgb(53, 53, 53);
    background-color: #2e5861;
    transition: 0.5s;
}
  